.st-dtitle {
    font-size: 1em;
}

.spacing {
    margin-top: 35vh;
}

.nav-labels, #nav-labels {
    text-align: center;
    font-size: 10px;
}

.lead {
    color: #242424;
}
a.navbar-brand {
  
}

/* main page */

.save-margin {
    position: absolute;
    right: 10px;
}

#recent-project {
    padding-top: 10px;
}

h2 {
    margin-top: 10px;
}
.main_title {
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#submit-line-break {
    margin-top: 20px;
}

.main_title h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.main_title p {
    margin-top: -15px;
    letter-spacing: 8px;
    font-size: 16px;
    margin-bottom: 0px;
}

.new_project,
.open_project {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.help {
    text-align: right;
    width: 50px;
    padding: 5px;
}

h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.bold {
    font-weight: 600;
}

.thin_text {
    font-weight: 100;
}

.new_project .card,
.open_project .card {
    width: 90%;
    margin-top: 70px;
    margin: 0 auto;
    height: 60px;
    border: 1px black solid;
    border-radius: 3px;
    line-height: 60px;
       box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#logo{
    width: 150px;
    margin-bottom: 10px;

    
}
.top-btn {
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Roboto', sans-serif;
}
.spaced {
    margin: 1%;
}

.new_project p,
.open_project p {
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    font-weight: 600;
    
}
.top-btn {
min-width: 70px;
}

.line-break {
    height: 1px;
    width: 100%;
    background-color: black;
}
.recent {
        margin-top: 30px;
}
.recent_projects {
    margin-bottom: 20px;

}

h2 {
    font-size: 1.5em;
}

#fake_mini img {


}

#fake_mini {
    
}

#green-text {
    color: yellowgreen;
    font-weight: 600;
}
.warning {
    color: red;
}

iframe {
    margin-top: 20px;
    margin: 0 auto;
}

button {
    background-color: white;
    border: 0px;
        float: right;
}
li {

}

nav-bar li {
    display: inline-block;
}

.vertical_line {
    padding-right: 5px;
}
.nav-labels p{
    font-size: 10px
}
}
.small_title img {
    margin: 0 auto;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

#calendar_hide {
    display: none;
    margin: 0 auto;

}


.popup {
    width: 200px;
}

#tool_popup {
    display: none;
    font-size: 18px;
}

#snippets_popup {
    display: none;
}

.small_title h1 {
    padding-top: 12px;
    padding-left: 15px;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.center-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thin_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.navbar-nav {
    padding-top: 20px;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 12px;
}

.navbar-nav > li {
    font-size: 14px;
    display: inline-block;
    float: none;
    font-weight: 100;
    padding: 0px 5px 0px 5px;
}

.requirements {
    display: block;
}

.float-right {
    width: 50px;
    padding-bottom: 20px;
}

.btn-light {
    width: 100%;
    display:
}


.btn-layout {
    width: 70%;
    margin: 0 auto;
    margin-top: 170px;
    margin-bottom: 20px;
}

.navbar-collapse {
    margin-top: -15px;
}



.btn-outline-dark {}

.title {
    margin-top: 50px;
}


.savebtn {
    text-align: right;
}

.display-4 {
    font-size: 1.5em;

}

#textbox {
    margin-top: 10px;
}

.drop-down-card {
    margin: 0 auto;
    width: 90%;
    margin-top: 10px;
}

select,
.form-control {
    display: inline;
}

#req_list {
}

.list-group-item {
    margin-top: 5px;
}

.mx-auto {
    margin-top: 20px;
}

select {
    float: right;
}
.navbar-light .navbar-toggler {
    border:none;
}
#close {
    position: inherit;
    right: 30px;
    
}
.nav-btn {
    margin-top: 20px;
    font-size: 12px;
    margin: 10px;
    margin-bottom: 0px;
}

f .list-group {}

.tool_card h2 {
    padding: 5px 0px 5px 0px;
    font-size: 13px;
    font-weight: 100;
    text-align: center;
    border: 1px solid;
}

.tool_card {
    height: 100px;
    padding: 10px;
    margin-bottom: 50px;
}

#mini_para {
    float: left;
}

#reference-hide {
    display: none;
}

.main_screen {
    margin-top: -10px;
    height: 60vh;
    background-color: white;
    border: 1px black solid;
    overflow-y: scroll
}

#mini-screen {
    margin-top: 10px;
    display: none;
    background-color: white;
}

br {
    line-height: 20px;
}

#insert_nav {
    margin-top: 10px;
}
#fake_mini {
        min-height: 55px;
      width: 100%;
    font-size: 12px;
    background-size: 100% 20px;
    padding: 12px 10px 5px 10px;
    background-attachment: local;
    resize: none;
    line-height: 20px
            border: 1px black solid;
}
#fake_textarea {
    width: 100%;
    font-size: 12px;
    background-image: linear-gradient(transparent, transparent 19px, #E7EFF8 0px);
    background-size: 100% 20px;
    padding: 12px 10px 5px 10px;
    background-attachment: local;
    resize: none;
    line-height: 20px;
}

ul {
    list-style-type: decimal;
}

#urlInput {
    width: 70%;
}

.list-group {
    width: 100%;
}
.top-btn, . {
}
#imageholder {
    min-height: 400px;
    width: 100%;
    border: 1px solid black;
    margin: 20px;
}
.top-btn {
    margin-top: 10px;
    font-size: 9px;
}
#textbox {
    height: 60vh;
}

.p-2 {
        margin-top: 5px;
display: block;
}
.main-bar {
    height: 20px;
    border-color: black;
    border-top: solid 1px;
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

.top-btn {
    font-size: 9px;
}

.top {
    width: 100%;
}

.word_tools {
    margin: 0px;
}

.word_tools {
    padding-left: 15px;
}

.drop-down-card {
    display: none;
}

.camera {
    height: 400px;



    text-align: center;
}

.camera img {
    margin-top: 20px;
    height: 350px;

}

#thumb {
    height: 50px;
    padding: 5px;
    border: 1px solid black;
}

#scan_thumb {
    padding: 15px;
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

.new_project .card, .open_project .card {
        height: 200px;
        font-size: 1.4em;
        padding-top: 40px;
    }
    
    .recent {
        margin-top: 50px;
    }
    

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    .new_project .card, .open_project .card {
        height: 230px;
        font-size: 2em;
        padding-top: 90px;
        border-radius: 5px
    }
        .recent {
        margin-top: 70px;
    }
    
    h2 {
        font-size: 1.5em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    #logo {
        width: 300px;
    }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
}
